@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    padding: -10px;
    margin: -10px;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

.company-logo {
    margin-top: 20px;
    margin-left: 20px;
}

.main-nav {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.text-blue {
    color: #2F6CE5;
}

.dropdown {
    margin-top: 15px;
    margin-right: 10px;
    font-family: 'IBM Plex sans', sans-serif;
    font-weight: 700;
}

.dropdown-toggle.d-flex::after {
    margin-top: 10px;
}

.dropdown-menu {
    width: 100%;
}

.form-control {
    background-color: #f2f2f2;
    width: 286px;
}

.form-control::placeholder {
    font-size: 15px;
    font-family: 'IBM Plex sans', sans-serif;
    font-weight: 400;
}

.form-control-outer {
    margin-top: 15px;
    margin-bottom: 5px;
}

.form-control-borderless {
    border: none;
}

.fas {
    font-size: 16px;
}

.form-control-borderless:focus {
    background-color: #f2f2f2;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.maintxt {
    position: relative;
}

.img-responsive {
    filter: brightness(60%);
}

.maintxt>img,
.overlay-text {
    color: white;
    position: absolute;
    font-size: 3rem;
    font-family: 'IBM Plex sans', sans-serif;
    font-weight: 700;
}

.overlay-text {
    padding-top: 260px;
    margin-left: 187px;
}

.smaller-text {
    color: white;
    position: absolute;
    padding-top: 330px;
    margin-left: 190px;
    font-size: 1.45rem;
    font-weight: 300;
    font-family: 'IBM Plex sans', sans-serif;
}


.nav-links ul {
    display: flex;
    gap: 25px;
}

.nav-links ul li a {
    text-decoration: none;
    color: grey;
    font-family: 'IBM Plex sans', sans-serif;
}

.nav-links ul li .main {
    color: rgb(84, 84, 84);
    font-weight: bold;
    padding-bottom: 17.5px;
    border-bottom: 1px solid rgb(44, 43, 43);
    font-family: 'IBM Plex sans', sans-serif;
}

.dropdown-toggle::after {
    margin-top: 10px;
}

.dropdown-menu {
    --bs-dropdown-min-width: 7rem;
}

.btn-secondary {
    background-color: #f2f2f2;
    color: black;
    border: none;
}

.container {
    max-width: 1200px;
    position: relative;
    margin-top: 510px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-links {
    position: absolute;
    left: 0px;
}

.right-buttons {
    position: absolute;
    right: 0px;
    bottom: 25px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.fa-solid {
    font-size: 12px;
}

.right {
    padding: 6px 12px;
    background-color: #2F6CE5;
    color: white
}

.cards {
    margin: 0 12.7vw;
    justify-content: left;
    align-items: left;
    font-family: 'IBM Plex Sans', sans-serif;
}

.share-views h6 {
    margin: 0 0 0 10px;
}

.fa-ellipsis {
    font-size: 18px;
    margin-left: 130px;
}

.category {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
}

.heading {
    font-size: 25px;
    font-weight: 700;
}

.description {
    font-size: 18px;
}

.fa-share-nodes {
    font-size: 20px;
}

.three-dots .btn {
    width: 40px;
    position: relative;
    bottom: 15px;
}



.three-dots .btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: #f2f2f2;
}

.three-dots .btn-secondary {
    background-color: white;

}

.post-disc {
    margin-left: 20px;
}

.three-dots .btn .fa-ellipsis {
    margin-left: 0px;
}

.detail-box-3 {
    width: 60%;
}

.cal-box-3 p {
    padding: 0;
    margin-bottom: 0;
    margin-left: 5px;
}

.loc-box-3 p {
    padding: 0;
    margin-bottom: 0;
    margin-left: 5px;
}

.sara-button {
    margin-top: 10px;
    color: rgb(255, 115, 0);
    font-weight: 700;
    width: 97%;
}

.jose-button {
    margin-top: 10px;
    color: rgb(30, 191, 1);
    font-weight: 700;
    width: 97%;
}

/* Login */

